{
  "mousemove": {
    "x": {
      "type": "axis",
      "activator": "ControlLeft"
      "note": 9,
      "range": [0, 127]
    },
    "y": {
      "type": "axis",
      "messageType" : "raw",
      "command" : [128, 9],
      "note": 10,
      "range": [0, 127]
    }
  },
  "press": {
    "b": {
      "type": "press",
      "note": 14,
      "value": 96
    }
  }
}
