html
  head
    title= input2midi
    script
      include howler.js
    style
      include mini.css
    style
      include fontawesome.css
  body
    div(class='container')
      div(class='row')
        div(class='col-sm col-md col-lg')
          include config.pug
        div(class='col-sm col-md col-lg')
          include player.pug